.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  margin: 2em 0em;
}

.btn {
  margin-top: 1em !important;
}